.container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 30px solid black;
    background-color: aliceblue;
    width: 400px;
    height: 500px;
    margin-right: auto;
    margin-left: auto;
}
button {
    width: 70px;
    height: 30px;
}